<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Page 125 Exercise 1 Number 9/myEvenOddNo/EvenOddNo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="myEvenOddNo.EvenOddNo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Page 125 Exercise 1 Number 9"/>
</launchConfiguration>
